h1 {
  text-align: center;
}

img {
  position: sticky;
  top: 0;
}

button {
  width: 100px;
  height: 50px;
  background: floralwhite;
  border-radius: 10px;
  cursor: pointer;
}

button > a {
  text-decoration: none;
}
