h1 {
  text-align: center;
}

img {
  position: sticky;
  top: 0;
}

a {
  background-color: blue;
  display: block;
  width: 80px;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  color: white;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}
